info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'
grails:
  codegen:
    defaultPackage: com.flowkraft
  profile: web
  mime:
    disable:
      accept:
        header:
          userAgents:
          - Gecko
          - WebKit
          - Presto
          - Trident
    types:
      json:
      - application/json
      - text/json
      hal:
      - application/hal+json
      - application/hal+xml
      xml:
      - text/xml
      - application/xml
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      js: text/javascript
      rss: application/rss+xml
      text: text/plain
      all: '*/*'
      form: application/x-www-form-urlencoded
      html:
      - text/html
      - application/xhtml+xml
      multipartForm: multipart/form-data
      pdf: application/pdf
  views:
    default:
      codec: html
    gsp:
      encoding: UTF-8
      htmlcodec: xml
      codecs:
        expression: html
        scriptlet: html
        taglib: none
        staticparts: none
quartz.autoStartup: true
dataSource:
  driverClassName: org.sqlite.JDBC
  dialect: org.hibernate.community.dialect.SQLiteDialect
  username: sa
  password: ''
  pooled: true
  jmxExport: true
environments:
  development:
    dataSource:
      dbCreate: update
      url: jdbc:sqlite:./data/flowkraft-dev.db
  test:
    dataSource:
      dbCreate: update
      url: jdbc:sqlite:./data/flowkraft-test.db
  production:
    dataSource:
      dbCreate: update
      url: jdbc:sqlite:/app/data/flowkraft.db
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false

# ===================================================================
# KEYCLOAK AUTHENTICATION (DISABLED BY DEFAULT)
# ===================================================================
# To enable Keycloak authentication:
# 1. Start Keycloak: docker-compose up -d keycloak
# 2. Configure realm and client in Keycloak admin
# 3. Uncomment the configuration below
# 4. Add Spring Security OAuth2 dependencies to build.gradle
# 5. See ENABLE_KEYCLOAK.md for detailed instructions
# ===================================================================

# keycloak:
#   enabled: false  # Set to true to enable Keycloak
#   auth-server-url: http://localhost:8480
#   realm: flowkraft-admin  # Use 'flowkraft-admin' realm for internal staff
#   resource: admin-grails-playground
#   bearer-only: true
#   ssl-required: none  # Use 'all' in production with HTTPS
#   public-client: false
#   credentials:
#     secret: your-client-secret-here  # Get from Keycloak admin console
#
# spring:
#   security:
#     oauth2:
#       resourceserver:
#         jwt:
#           issuer-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}
#           jwk-set-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}/protocol/openid-connect/certs
