<div class="well">
  <div class="row">
    <div class="col-xs-1">{{ "COMPONENTS.LICENSE.KEY" | translate }}</div>
    <div class="col-xs-8">
      <input
        id="licenseKey"
        [(ngModel)]="licenseService?.licenseDetails?.license.key"
        (ngModelChange)="saveLicenseKey()"
        class="form-control"
        [disabled]="!this.storeService.configSys.sysInfo.setup.java.isJavaOk"
        autofocus
        required
      />
    </div>
    <div
      class="col-xs-3"
      *ngIf="
        !licenseService?.licenseDetails?.license.key &&
        (!licenseService?.licenseDetails?.license.status ||
          licenseService?.licenseDetails?.license.status === 0)
      "
    >
      <a href="https://store.reportburster.com" target="_blank">
        <button id="btnGetLicenseKey" class="btn btn-primary" type="button">
          {{ "COMPONENTS.LICENSE.GET-LICENSE-KEY" | translate }}
        </button>
      </a>
    </div>
    <div
      class="col-xs-3"
      *ngIf="
        !licenseService?.licenseDetails?.license.key &&
        licenseService?.licenseDetails?.license.status
      "
    >
      <button
        id="btnCheckLicenseKeyDisabled"
        class="btn btn-primary"
        type="button"
        [disabled]="true"
      >
        {{ "COMPONENTS.LICENSE.CHECK-LICENSE-KEY" | translate }}
      </button>
    </div>
    <div class="col-xs-3" *ngIf="licenseService?.licenseDetails?.license.key">
      <button
        *ngIf="
          licenseService?.licenseDetails?.license.status &&
          licenseService?.licenseDetails?.license.status != 'deactivated'
        "
        id="btnCheckLicenseKey"
        class="btn btn-primary"
        type="button"
        (click)="verifyLicense('-cl')"
        [disabled]="executionStatsService?.jobStats.numberOfActiveJobs > 0"
      >
        {{ "COMPONENTS.LICENSE.CHECK-LICENSE-KEY" | translate }}
      </button>
      <button
        *ngIf="
          !licenseService?.licenseDetails?.license.status ||
          licenseService?.licenseDetails?.license.status.length == 0 ||
          licenseService?.licenseDetails?.license.status == 'deactivated'
        "
        id="btnActivateLicenseKey"
        class="btn btn-primary"
        type="button"
        (click)="verifyLicense('-al')"
        [disabled]="executionStatsService?.jobStats.numberOfActiveJobs > 0"
      >
        {{ "COMPONENTS.LICENSE.ACTIVATE-LICENSE-KEY" | translate }}
      </button>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-xs-1">{{ "COMPONENTS.LICENSE.STATUS" | translate }}</div>

    <div
      class="col-xs-8"
      *ngIf="
        !licenseService?.licenseDetails?.license.status ||
        licenseService?.licenseDetails?.license.status.length == 0 ||
        licenseService?.licenseDetails?.license.status == 'deactivated'
      "
    >
      <span id="statusDemoLicense" class="label label-warning round">{{
        "COMPONENTS.LICENSE.DEMO-TRIAL" | translate
      }}</span>
    </div>

    <div
      class="col-xs-8"
      *ngIf="
        licenseService?.licenseDetails?.license.status &&
        licenseService?.licenseDetails?.license.status != 'valid' &&
        licenseService?.licenseDetails?.license.status != 'expired' &&
        licenseService?.licenseDetails?.license.status != 'deactivated'
      "
    >
      <span id="statusInvalidLicense" class="label label-danger round">{{
        "COMPONENTS.LICENSE.INVALID-LICENSE" | translate
      }}</span>
    </div>

    <div
      class="col-xs-8"
      *ngIf="
        licenseService?.licenseDetails?.license.status &&
        licenseService?.licenseDetails?.license.status === 'valid'
      "
    >
      <span id="statusActiveLicenseKey" class="label label-primary round"
        >{{ "COMPONENTS.LICENSE.STATUS-ACTIVE" | translate }} ({{
          licenseService?.licenseDetails?.license.customername
        }})</span
      >
    </div>

    <div
      class="col-xs-8"
      *ngIf="
        licenseService?.licenseDetails?.license.status &&
        licenseService?.licenseDetails?.license.status === 'expired'
      "
    >
      <a href="https://www.pdfburst.com/renew.html" target="_blank">
        <span id="statusExpiredLicense" class="label label-warning round"
          >{{ "COMPONENTS.LICENSE.STATUS-EXPIRED" | translate }} ({{
            licenseService?.licenseDetails?.license.customername
          }})</span
        >&nbsp;
        <span class="label label-primary round">{{
          "COMPONENTS.LICENSE.RENEW-LICENSE" | translate
        }}</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">{{ "COMPONENTS.LICENSE.VERSION" | translate }}</div>

    <div class="col-xs-11">
      <span id="version" class="label label-default"
        ><em>{{ settingsService.product }}</em
        >&nbsp;{{ settingsService.version }}</span
      >&nbsp;
      <!--<dburst-update [succint]="true"></dburst-update>-->
    </div>
  </div>
  <br />
  <div id="whatsnew" class="row">
    <div class="col-xs-12">
      <dburst-whats-new></dburst-whats-new><br />
      <a
        id="deactivateLicenseKey"
        style="cursor: pointer"
        *ngIf="
          licenseService?.licenseDetails?.license.status &&
          licenseService?.licenseDetails?.license.status === 'valid'
        "
        (click)="deActivateLicense()"
        >_</a
      >
    </div>
  </div>
</div>
