<tabset *ngIf="mode != 'changelog'">
  
  <tab heading="Releases">
    <div style="height: 340px; overflow-y: scroll; overflow-x: auto">
      <br />
      <span *ngIf="visibleReleaseBlogPostAnnouncement?.length > 0">
        <a
          href="{{ visibleReleaseBlogPostAnnouncement[0]?.link }}"
          class="btn btn-default"
          target="_blank"
          >{{
            "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.READ-ANNOUNCEMENT"
              | translate
          }}</a
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span *ngIf="visibleReleaseIndex > 0">
        <i
          class="fa fa-arrow-circle-left fa-2x"
          aria-hidden="true"
          title="{{
            'AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.NEXT-RELEASE'
              | translate
          }}"
          style="cursor: pointer"
          (click)="handleVisibleRelease('previous')"
        ></i
        >&nbsp;&nbsp;&nbsp;
      </span>
      <i
        *ngIf="visibleReleaseIndex < changeLog?.releases.length - 1"
        class="fa fa-arrow-circle-right fa-2x"
        aria-hidden="true"
        title="{{
          'AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.PREV-RELEASE'
            | translate
        }}"
        style="cursor: pointer"
        (click)="handleVisibleRelease('next')"
      ></i>
      <br /><br />
      <h4>
        <div *ngIf="visibleReleaseIndex == 0">
          <strong
            >{{
              "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.LATEST"
                | translate
            }}
          </strong>
          <em>DocumentBurster</em>
          is {{ visibleRelease?.version }}
          -
          {{ visibleReleaseDate }}
        </div>
        <div *ngIf="visibleReleaseIndex != 0">
          <em>DocumentBurster</em> {{ visibleRelease?.version }} -
          {{ visibleReleaseDate }}
        </div>
      </h4>
      <br />
      <div *ngIf="visibleRelease?.changes.get('added').length > 0">
        {{
          "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.ADDED" | translate
        }}
        <br />
        <br />
        <ul>
          <li *ngFor="let change of visibleRelease?.changes.get('added')">
            <markdown [data]="change.title"></markdown>
          </li>
        </ul>
      </div>
      <br />
      <div *ngIf="visibleRelease?.changes.get('changed').length > 0">
        {{
          "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.CHANGED" | translate
        }}
        <br />
        <br />
        <ul>
          <li *ngFor="let change of visibleRelease?.changes.get('changed')">
            <markdown [data]="change.title"></markdown>
          </li>
        </ul>
      </div>
      <br />
      <div *ngIf="visibleRelease?.changes.get('fixed').length > 0">
        {{
          "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.FIXED" | translate
        }}
        <br />
        <br />
        <ul>
          <li *ngFor="let change of visibleRelease?.changes.get('fixed')">
            <markdown [data]="change.title"></markdown>
          </li>
        </ul>
      </div>
    </div>
  </tab>
  <tab>
    <ng-template tabHeading>
      <i class="fa fa-podcast" aria-hidden="true"></i>&nbsp;&nbsp;{{
        "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.NEWS" | translate
      }}
    </ng-template>
    <div style="height: 340px; overflow-y: scroll; overflow-x: auto">
      <br />
      <a
        href="{{ visibleBlogPost?.link }}"
        class="btn btn-default"
        target="_blank"
        >{{
          "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.READ-FULL"
            | translate
        }}</a
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i
        *ngIf="visibleBlogPostIndex > 0"
        class="fa fa-arrow-circle-left fa-2x"
        aria-hidden="true"
        title="{{
          'AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.PREV-ARTICLE'
            | translate
        }}"
        style="cursor: pointer"
        (click)="handleVisibleAnnouncement('previous')"
      ></i
      >&nbsp;&nbsp;&nbsp;<i
        *ngIf="visibleBlogPostIndex < blogPosts?.length - 1"
        class="fa fa-arrow-circle-right fa-2x"
        aria-hidden="true"
        title="{{
          'AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.NEXT-ARTICLE'
            | translate
        }}"
        style="cursor: pointer"
        (click)="handleVisibleAnnouncement('next')"
      ></i>
      <br /><br />
      <h4>
        <u
          ><a href="{{ visibleBlogPost?.link }}" target="_blank">{{
            visibleBlogPost?.title
          }}</a></u
        >
      </h4>
      <iframe
        srcdoc="{{ visibleBlogPost?.summary }}"
        frameborder="0"
        style="width: 100%; height: 62%; overflow-y: visible; overflow-x: auto"
      ></iframe>
    </div>
  </tab>

</tabset>
<div
  *ngIf="mode == 'changelog'"
  style="height: 382px; overflow-y: scroll; overflow-x: auto"
>
  <markdown [data]="changeLogMarkdown"></markdown>
</div>
<hr />
<button type="button" class="btn" (click)="handleViewMode()">
  <span *ngIf="mode != 'changelog'">{{
    "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.VIEW-FULL" | translate
  }}</span>
  <span *ngIf="mode == 'changelog'">{{
    "AREAS.INSTALL-SETUP-UPGRADE.COMPONENTS.WHATS-NEW.VIEW-NEWS" | translate
  }}</span>
</button>
