info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'

# ReportBurster backend configuration
# Environment variable can override the base URL:
#   - REPORTBURSTER_BACKEND_URL: Backend API URL (use host.docker.internal for Docker)
# API key is auto-discovered from config/_internal/api-key.txt (see ReportBursterTagLib)
reportburster:
  backend:
    baseUrl: ${REPORTBURSTER_BACKEND_URL:http://host.docker.internal:9090}
    # Default configuration file path (relative to PORTABLE_EXECUTABLE_DIR)
    defaultConfigPath: 'config/burst/settings.xml'

grails:
  codegen:
    defaultPackage: com.flowkraft
  profile: web
  mime:
    disable:
      accept:
        header:
          userAgents:
          - Gecko
          - WebKit
          - Presto
          - Trident
    types:
      json:
      - application/json
      - text/json
      hal:
      - application/hal+json
      - application/hal+xml
      xml:
      - text/xml
      - application/xml
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      js: text/javascript
      rss: application/rss+xml
      text: text/plain
      all: '*/*'
      form: application/x-www-form-urlencoded
      html:
      - text/html
      - application/xhtml+xml
      multipartForm: multipart/form-data
      pdf: application/pdf
  views:
    default:
      codec: html
    gsp:
      encoding: UTF-8
      htmlcodec: xml
      codecs:
        expression: html
        scriptlet: html
        taglib: none
        staticparts: none
dataSource:
  driverClassName: com.mysql.cj.jdbc.Driver
  username: root
  password: ''
  pooled: true
  jmxExport: true
environments:
  development:
    dataSource:
      dbCreate: create-drop
      url: jdbc:mysql://localhost:3306/devDb?tcpKeepAlive=true
  test:
    dataSource:
      dbCreate: update
      url: jdbc:mysql://localhost:3306/testDb?tcpKeepAlive=true
  production:
    dataSource:
      dbCreate: none
      url: jdbc:mysql://localhost:3306/prodDb?tcpKeepAlive=true
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false
