<footer class="main-footer" style="padding: 3px">
  <div class="row">
    <div class="col-xs-6">
      <span
        id="noJobsRunning"
        *ngIf="executionStatsService.jobStats.numberOfActiveJobs === 0"
        >{{ "AREAS.STATUS-BAR.NO-JOBS-RUNNING" | translate }}</span
      >
      <span
        id="workingOn"
        *ngIf="
          executionStatsService.jobStats.numberOfActiveJobs > 0 &&
          executionStatsService.jobStats.pauseJobFileExists === 0 &&
          executionStatsService.jobStats.cancelJobFileExists === 0
        "
      >
        &nbsp;{{ "AREAS.STATUS-BAR.WORKING-ON" | translate }} {{
        executionStatsService.jobStats.niceWorkingOnFileNames }} ...
        <span
          id="progressJobFileExists"
          *ngIf="executionStatsService.jobStats.progressJobFileExists > 0"
          >.</span
        >
      </span>
      <span
        id="pauseJobFileExists"
        *ngIf="executionStatsService.jobStats.pauseJobFileExists > 0"
        >{{ "AREAS.STATUS-BAR.WAIT-EXECUTING-COMMAND" | translate }}
        <strong>{{ "AREAS.STATUS-BAR.PAUSE" | translate }}</strong> ...</span
      >
      <span
        id="cancelJobFileExists"
        *ngIf="executionStatsService.jobStats.cancelJobFileExists > 0"
        >{{ "AREAS.STATUS-BAR.WAIT-EXECUTING-COMMAND" | translate }}
        <strong>{{ "AREAS.STATUS-BAR.CANCEL" | translate }}</strong> ...</span
      >
    </div>

    <div
      class="col-xs-2"
      *ngIf="
        executionStatsService.jobStats.numberOfActiveJobs > 0 &&
        shouldShowPauseCancelButtons()
      "
    >
      <progressbar
        *ngIf="executionStatsService.jobStats.progressValue > 0"
        [value]="executionStatsService.jobStats.progressValue"
        style="margin: 0px; text-align: left"
      >
      </progressbar>
    </div>

    <div
      class="col-xs-3"
      *ngIf="
        executionStatsService.jobStats.numberOfActiveJobs > 0 &&
        !shouldShowPauseCancelButtons()
      "
    >
      <progressbar
        *ngIf="executionStatsService.jobStats.progressValue > 0"
        [value]="executionStatsService.jobStats.progressValue"
        style="margin: 0px; text-align: left"
      >
      </progressbar>
    </div>

    <div
      class="col-xs-1"
      *ngIf="
        executionStatsService.jobStats.numberOfActiveJobs > 0 &&
        shouldShowPauseCancelButtons()
      "
    >
      <div class="btn-group dropup pull-right">
        <button
          id="btnCancelPauseRunningJobs"
          class="btn btn-default btn-xs dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          <span id="cancelPause" class="label label-default"
            >{{ "AREAS.STATUS-BAR.CANCEL-PAUSE" | translate }}</span
          >
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let job of executionStatsService.jobStats.workingOnJobs">
            <a
              id="btnPause{{ job?.fileName }}"
              (click)="doPauseCancelJob(job.fileName, job.jobFilePath, 'pause')"
              style="cursor: pointer"
            >
              <i class="fa fa-pause-circle-o"></i>&nbsp;
              <u
                >{{ "AREAS.STATUS-BAR.PAUSE" | translate }} {{ job?.fileName }}
                {{ "AREAS.STATUS-BAR.PROCESSING" | translate }}</u
              >
            </a>
            <br />
            <a
              id="btnCancel{{ job?.fileName }}"
              (click)="
                doPauseCancelJob(job.fileName, job.jobFilePath, 'cancel')
              "
              style="cursor: pointer"
            >
              <i class="fa fa-window-close-o"></i>&nbsp;
              <u
                >{{ "AREAS.STATUS-BAR.CANCEL" | translate }} {{ job?.fileName }}
                {{ "AREAS.STATUS-BAR.PROCESSING" | translate }}</u
              >
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div style="width: 98%">
      <div class="btn-group dropup pull-right">
        <button
          id="btnGreatNoErrorsNoWarnings"
          class="btn btn-default btn-xs dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          *ngIf="
            executionStatsService.logStats.warningsLogFileSize <= 0 &&
            executionStatsService.logStats.errorsLogFileSize <= 0
          "
        >
          {{ "AREAS.STATUS-BAR.NO-ERRORS-WARNINGS" | translate }}
          <span class="caret"></span>
        </button>
        <button
          id="btnWarnings"
          type="button"
          class="btn btn-warning btn-xs dropdown-toggle"
          data-toggle="dropdown"
          *ngIf="
            executionStatsService.logStats.warningsLogFileSize > 0 &&
            executionStatsService.logStats.errorsLogFileSize <= 0
          "
        >
          {{ "AREAS.STATUS-BAR.UPS-VIEW-WARNINGS" | translate }}
          <span class="caret"></span>
        </button>
        <button
          id="btnErrors"
          type="button"
          class="btn btn-danger btn-xs dropdown-toggle"
          data-toggle="dropdown"
          *ngIf="executionStatsService.logStats.errorsLogFileSize > 0"
        >
          {{ "AREAS.STATUS-BAR.UPS-VIEW-ERRORS" | translate }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" [routerLink]="['/processing', 'logsMenuSelected']">
              <u>{{ "AREAS.STATUS-BAR.VIEW-LOGS" | translate }}</u>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
