<div class="well">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>
            {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.INFO-LOG-PREVIEW' |
            translate }}
          </h6>
        </div>
        <div
          id="infoLog"
          class="panel-body"
          style="
            color: blue;
            background-color: #f5f5f5;
            height: 185px;
            overflow: scroll;
            -webkit-user-select: all;
            user-select: all;
          "
        >
          <dburst-log-file-viewer
            logFileName="info.log"
          ></dburst-log-file-viewer>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>
            {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.WARNINGS-LOG-PREVIEW' |
            translate }}
          </h6>
        </div>
        <div
          id="warningsLog"
          class="panel-body"
          style="
            color: orange;
            background-color: #f5f5f5;
            height: 185px;
            overflow: scroll;
            -webkit-user-select: all;
            user-select: all;
          "
        >
          <dburst-log-file-viewer
            logFileName="warnings.log"
          ></dburst-log-file-viewer>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>
            {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.ERRORS-LOG-PREVIEW' |
            translate }}
          </h6>
        </div>
        <div
          id="errorsLog"
          class="panel-body"
          style="
            color: red;
            background-color: #f5f5f5;
            height: 185px;
            overflow: scroll;
            -webkit-user-select: all;
            user-select: all;
          "
        >
          <dburst-log-file-viewer
            logFileName="errors.log"
          ></dburst-log-file-viewer>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <dburst-button-native-system-dialog
        value="{{'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.VIEW-LOG-FILES' | translate}}"
        dialogType="file"
      >
      </dburst-button-native-system-dialog>
    </div>

    <div class="col-xs-4">
      <div class="btn-group dropup">
        <button type="button" class="btn">
          {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR-LOG-FILES' |
          translate }}
        </button>

        <button
          id="btnClearLogFiles"
          type="button"
          class="btn dropdown-toggle"
          data-toggle="dropdown"
        >
          <span class="caret"></span>
          <span class="sr-only"
            >{{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.TOGGLE-DROPDOWN' |
            translate }}</span
          >
        </button>

        <ul class="dropdown-menu" style="cursor: pointer">
          <li>
            <a id="btnClearInfoLog" (click)="clearLogs('info.log')"
              >1. {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR' |
              translate }}
              <em>info.log</em>
              <span *ngIf="executionStatsService.logStats.infoLogFileIsLocked">
                ( <i class="fa fa-lock"></i>&nbsp;{{
                'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.LOCKED' | translate
                }})</span
              >
            </a>
          </li>
          <li>
            <a id="btnClearWarningsLog" (click)="clearLogs('warnings.log')"
              >2. {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR' |
              translate }}
              <em>warnings.log</em>
              <span
                *ngIf="executionStatsService.logStats.warningsLogFileIsLocked"
              >
                ( <i class="fa fa-lock"></i>&nbsp;{{
                'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.LOCKED' | translate
                }})</span
              >
            </a>
          </li>
          <li>
            <a id="btnClearErrorsLog" (click)="clearLogs('errors.log')"
              >3. {{ 'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR' |
              translate }}
              <em>errors.log</em>
              <span
                *ngIf="executionStatsService.logStats.errorsLogFileIsLocked"
              >
                ( <i class="fa fa-lock"></i>&nbsp;{{
                'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.LOCKED' | translate
                }})</span
              >
            </a>
          </li>
          <li>
            <a
              id="btnClearQuarantinedFiles"
              (click)="clearQuarantinedAndLogFiles(false)"
              >4. {{
              'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR-QUARANTINED-FILES'
              | translate }}</a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a
              id="btnClearAllLogQuarantinedFiles"
              (click)="clearQuarantinedAndLogFiles(true)"
            >
              <span class="label label-default"
                >5. {{
                'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.CLEAR-ALL-LOG-FILES' |
                translate }}
                <span
                  *ngIf="executionStatsService.logStats.errorsLogFileIsLocked || executionStatsService.logStats.infoLogFileIsLocked || executionStatsService.logStats.warningsLogFileIsLocked"
                >
                  (
                  <i class="fa fa-lock"></i>&nbsp;{{
                  'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.LOCKED' | translate
                  }})</span
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <dburst-button-native-system-dialog
        value="{{'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.VIEW-QUARANTINED-FILES' | translate}}"
        dialogType="file"
      >
      </dburst-button-native-system-dialog>
    </div>
  </div>
</div>
