<div *ngIf="executionStatsService.logStats.foundDirtyLogFiles" [id]="viewerId">
  <tabset>
    <tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.INFO-LOG-PREVIEW' | translate
      }}"
      *ngIf="executionStatsService.logStats.infoLogFileSize > 0"
    >
      <div
        id="infoLog"
        class="panel-body"
        style="
          color: blue;
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
      >
        <dburst-log-file-viewer logFileName="info.log"></dburst-log-file-viewer>
      </div>
    </tab>

    <tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.WARNINGS-LOG-PREVIEW'
          | translate
      }}"
      *ngIf="executionStatsService.logStats.warningsLogFileSize > 0"
    >
      <div
        id="warningsLog"
        class="panel-body"
        style="
          color: orange;
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
      >
        <dburst-log-file-viewer
          logFileName="warnings.log"
        ></dburst-log-file-viewer>
      </div>
    </tab>

    <tab
      heading="{{
        'COMPONENTS.LOG-FILES-VIEWER-ALL-TOGETHER.ERRORS-LOG-PREVIEW'
          | translate
      }}"
      *ngIf="executionStatsService.logStats.errorsLogFileSize > 0"
    >
      <div
        id="errorsLog"
        class="panel-body"
        style="
          color: red;
          height: 421px;
          overflow-y: scroll;
          overflow-x: auto;
          -webkit-user-select: all;
          user-select: all;
        "
      >
        <dburst-log-file-viewer
          logFileName="errors.log"
        ></dburst-log-file-viewer>
      </div>
    </tab>
  </tabset>
</div>
